:root {
  --colors-text-light-primary: #1c1c1e;
  --colors-background-light-secondary: #f2f2f7;
  --colors-text-light-quaternary: #8e8e93;
  --colors-background-light-primary: #ffffff;
  --colors-text-light-secondary: #fff;
  --color-border-primary: #e5e5ea;
  --colors-tint-light-primary: #0071ee;
  --colors-background-light-seventh: #ebedef;
  --colors-text-light-error: #ff3b30;
}
