@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import 'styles/elements.scss';
@import 'styles/nprogress.scss';

body {
  background: var(--colors-background-light-primary);
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    sans-serif;
  color: var(--colors-text-light-primary);
}
